<section class="hero fs-700 flex">
  <%= render partial: 'users/user_hero', locals: { user: @user } %>
</section>
<section class="bio fs-400 border-primary">
  <h2 class="ff-headings fw-bold fs-700">Bio</h2>
  <% @user.bio.split('\n').each do |p| %>
    <p class="bio__paragraph"><%= p %></p>
  <% end %>
</section>
<section class="user-posts fs-400 border-primary">
  <h2 class="ff-headings fw-bold fs-700">Recent Posts</h2>
  <%= render_posts %>
</section>
<section class="actions">
  <%= link_to 'See all posts', user_posts_path(@user), class: 'btn btn--primary' %>
</section>
